:root {
  --color-primary: #239dea;
  --color-primary-dark-1: #0080e2;
  --color-primary-dark-2:#0068b8;
  --color-secondary: #f7d800;
  --color-grey-1: #e7e9ec;
  --color-grey-2: #707070;
  --color-grey-light: #f7f7f7;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: vazir, sans-serif;
  font-size: 1.6rem;
  direction: rtl;
  background-color: var(--color-grey-1);
  color: var(--color-grey-2);
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.header {
  background-color: #fff;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: showing-header 3s;
          animation: showing-header 3s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media screen and (max-width: 1200px) {
  .header {
    display: none;
  }
}

@-webkit-keyframes showing-header {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes showing-header {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.quick-access__box {
  position: fixed;
  z-index: 10;
  width: 12rem;
  height: 12rem;
  border: 2px dashed var(--color-primary);
  top: 70%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: var(--color-grey-light);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: showing-quick-access 3s linear;
          animation: showing-quick-access 3s linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.quick-access__box--left {
  left: 6rem;
}

.quick-access__box--right {
  right: 6rem;
}

@media screen and (max-width: 1200px) {
  .quick-access__box {
    display: none;
  }
}

.quick-access__img {
  width: 50%;
  height: auto;
}

.quick-access__text {
  font-size: 1.4rem;
  color: var(--color-primary);
}

@-webkit-keyframes showing-quick-access {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showing-quick-access {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  height: 100vh;
  background-image: url("../img/background1.png");
  background-size: cover;
  background-position: 50% 20%;
  background-attachment: fixed;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .about {
    min-height: 160vh;
    background-image: url("../img/background2.jpg");
    background-attachment: scroll;
  }
}

.enter-main {
  background-color: var(--color-grey-light);
  position: relative;
  min-height: 190rem;
  z-index: 5;
}

@media screen {
  .enter-main {
    min-height: 210rem;
  }
}

.enter-main::before {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 30rem;
  top: -6rem;
  left: 0;
  background-image: url("/img/about-wave-d.svg");
  background-position: center;
  background-size: 120% 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .enter-main::before {
    height: 15rem;
    top: -11rem;
    background-size: 120%;
    background-image: url("/img/about2-wave.svg");
  }
}

.enter-main::after {
  content: "";
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 30rem;
  top: -7rem;
  left: 0;
  background-image: url("/img/Asset 3.svg");
  background-position: center;
  background-size: 120% 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .enter-main::after {
    height: 10rem;
    top: -2rem;
    background-size: 100%;
    display: none;
  }
}

@-webkit-keyframes showing-enter-main {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes showing-enter-main {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.goto-down {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-animation: showing-goto-down 3s;
          animation: showing-goto-down 3s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.goto-down__img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .goto-down {
    display: none;
  }
}

@-webkit-keyframes showing-goto-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showing-goto-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  background-color: var(--color-grey-light);
  padding: 5rem;
  width: 100%;
  height: 65rem;
  position: relative;
}

.footer > * {
  position: relative;
  z-index: 100;
}

@media screen and (max-width: 1200px) {
  .footer {
    display: none;
  }
}

.footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/footer-wave2.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 99;
}

.logo-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 8rem;
}

.logo-box__logo {
  width: 6rem;
  height: 6.5rem;
  position: relative;
  -webkit-animation: transform-logo 2s linear;
          animation: transform-logo 2s linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes transform-logo {
  0% {
    top: 300px;
    right: 650px;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    top: 0px;
    right: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes transform-logo {
  0% {
    top: 300px;
    right: 650px;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    top: 0px;
    right: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.logo-box__title {
  color: var(--color-primary);
  font-size: 3.5rem;
  font-weight: bold;
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.list {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item {
  display: inline-block;
}

.list__link:link, .list__link:visited {
  color: var(--color-grey-2);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.list__link:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.profile {
  padding: 0.5rem 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--color-grey-2);
  font-size: 1.6rem;
  font-weight: bold;
}

.profile__img {
  width: 2.1rem;
  height: auto;
  margin-left: 1rem;
}

.bimes {
  width: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  z-index: 10;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 1rem 1rem 2.5rem 2.5rem;
  border-top: 4.5rem solid var(--color-primary);
  -webkit-animation: showing-bimes 3s;
          animation: showing-bimes 3s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media screen and (max-width: 1200px) {
  .bimes {
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .bimes {
    width: 90%;
  }
}

.bimes__item:link, .bimes__item:visited {
  position: relative;
  z-index: 10;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  outline: 2px solid var(--color-primary);
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (max-width: 1200px) {
  .bimes__item:link, .bimes__item:visited {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.bimes__item:hover {
  background-color: white;
}

.bimes__item:hover .bimes__item-icon {
  -webkit-transform: translateY(-1rem) scale(1.1);
          transform: translateY(-1rem) scale(1.1);
}

.bimes__item:hover .bimes__item-text {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.bimes__item-icon {
  width: 8rem;
  margin-bottom: 2.5rem;
  -webkit-transform: translateY(0) scale(0.8);
          transform: translateY(0) scale(0.8);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.bimes__item-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: showing-bimes-text 1s;
          animation: showing-bimes-text 1s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes showing-bimes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showing-bimes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showing-bimes-text {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showing-bimes-text {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes showing-bimes2 {
  0% {
  }
  100% {
  }
}

@keyframes showing-bimes2 {
  0% {
  }
  100% {
  }
}

.main-card {
  background-color: #fff;
  -webkit-box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.1);
  width: 60%;
  position: absolute;
  z-index: 6;
  top: -9.8rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 50px;
  min-height: 190rem;
  padding: .5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .main-card {
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    min-height: 210rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-primary);
  line-height: 1.4;
}

.card__header-title {
  font-size: 3rem;
}

.card__header-subtitle {
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .card__header {
    display: none;
  }
}

.card__features-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .card__features-box {
    display: none;
  }
}

.card__remainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 4rem;
}

.card__remainer-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.card__remainer-shapes {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card__remainer-shapes > * {
  position: absolute;
  border-radius: 50%;
}

.card__remainer .blue {
  background-color: var(--color-primary);
}

.card__remainer .yellow {
  background-color: var(--color-secondary);
}

.card__remainer .shape1 {
  top: 10px;
  right: -1%;
  width: 10%;
  height: 100px;
  z-index: 13;
}

.card__remainer .shape2 {
  top: 0px;
  right: 6%;
  width: 10%;
  height: 100px;
  z-index: 12;
}

.card__remainer .shape3 {
  top: 15px;
  right: 11%;
  width: 12%;
  height: 100px;
  z-index: 11;
}

.card__remainer .shape4 {
  top: 5px;
  right: 17%;
  width: 12%;
  height: 100px;
  z-index: 10;
}

.card__remainer .shape5 {
  top: 8px;
  right: 24%;
  width: 19%;
  height: 120px;
  z-index: 9;
}

.card__remainer .shape6 {
  top: 15px;
  right: 35%;
  width: 18%;
  height: 120px;
  z-index: 8;
}

.card__remainer .shape7 {
  top: 5px;
  right: 45%;
  width: 13%;
  height: 100px;
  z-index: 7;
}

.card__remainer .shape8 {
  top: 15px;
  right: 50%;
  width: 18%;
  height: 100px;
  z-index: 6;
}

.card__remainer .shape9 {
  top: 5px;
  right: 54%;
  width: 19%;
  height: 110px;
  z-index: 5;
}

.card__remainer .shape10 {
  top: 16px;
  right: 65%;
  width: 13%;
  height: 140px;
  z-index: 4;
}

.card__remainer .shape11 {
  top: 8px;
  right: 71%;
  width: 15%;
  height: 120px;
  z-index: 3;
}

.card__remainer .shape12 {
  top: 0px;
  right: 80%;
  width: 13%;
  height: 130px;
  z-index: 2;
}

.card__remainer .shape13 {
  top: 8px;
  right: 86%;
  width: 15%;
  height: 120px;
  z-index: 1;
}

.card__remainer-form {
  position: relative;
  z-index: 1000;
  background-color: #fff;
  padding: 2rem 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .card__remainer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    border-radius: 2rem;
    background-color: var(--color-grey-1);
  }
}

.card__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__partners-rotate {
  position: relative;
  margin: 15rem 0;
  -webkit-perspective: 600;
          perspective: 600;
}

.card__partners-description {
  background-color: var(--color-grey-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 7rem;
  margin: 15rem 4rem 14rem;
  border-radius: 3rem;
}

@media screen and (max-width: 1200px) {
  .card__partners {
    display: none;
  }
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__img {
  width: 14rem;
  height: auto;
  padding: 1rem;
}

.feature__text {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-grey-2);
}

.form-group {
  margin-bottom: 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group .form__label {
  color: var(--color-primary);
  font-size: 1.6rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.form-group .form__input {
  font-family: inherit;
  padding: 1.5rem 2.5rem;
  border: 1.5px solid var(--color-primary);
  border-radius: 10px;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
  .form-group {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.btn__submit {
  font-family: inherit;
  border: none;
  background-color: var(--color-primary);
  padding: 1rem 2.5rem;
  border-radius: 10px;
  color: #fff;
  font-size: 2rem;
  margin-top: 3.3rem;
  cursor: pointer;
  outline: none;
}

.description__paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.description__btn {
  color: #fff;
  font-size: 1.5rem;
}

.description__btn:link, .description__btn:visited {
  background-color: var(--color-primary);
  opacity: .6;
  text-decoration: none;
  padding: .2rem 2.4rem;
  border-radius: 7px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.description__btn:hover, .description__btn:active {
  opacity: 1;
}

.description__btn:focus {
  outline: none;
}

.rotater__inside {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2000;
  width: 20rem;
  height: 10rem;
  border-radius: 50%;
  border: 4px solid var(--color-primary);
  -webkit-transform: translate(-50%, -50%) rotateX(60deg);
          transform: translate(-50%, -50%) rotateX(60deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.rotater__inside-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%) rotateX(-60deg);
          transform: translate(-50%, -80%) rotateX(-60deg);
}

.rotater__inside-item {
  background-color: var(--color-secondary);
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  -webkit-transform: rotateX(-60deg);
          transform: rotateX(-60deg);
}

.rotater__inside--item1 {
  top: 60px;
  right: 9px;
  -webkit-transform: rotateX(-60deg) translateZ(20px);
          transform: rotateX(-60deg) translateZ(20px);
}

.rotater__inside--item2 {
  top: 10px;
  left: 10px;
  -webkit-transform: rotateX(-60deg) translateZ(2px);
          transform: rotateX(-60deg) translateZ(2px);
}

.rotater__inside--item3 {
  top: 5px;
  right: 20px;
  -webkit-transform: rotateX(-60deg) translateZ(10px);
          transform: rotateX(-60deg) translateZ(10px);
}

@-webkit-keyframes swing1 {
  0% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(10px) translateX(0px) translateY(0px);
            transform: rotateX(-60deg) translateZ(10px) translateX(0px) translateY(0px);
  }
  50% {
    /*     -webkit-transform: rotateX(30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(20px) translateX(-30px) translateY(7px);
            transform: rotateX(-60deg) translateZ(20px) translateX(-30px) translateY(7px);
  }
  100% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(10px) translateX(0px) translateY(0px);
            transform: rotateX(-60deg) translateZ(10px) translateX(0px) translateY(0px);
  }
}

@keyframes swing1 {
  0% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(10px) translateX(0px) translateY(0px);
            transform: rotateX(-60deg) translateZ(10px) translateX(0px) translateY(0px);
  }
  50% {
    /*     -webkit-transform: rotateX(30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(20px) translateX(-30px) translateY(7px);
            transform: rotateX(-60deg) translateZ(20px) translateX(-30px) translateY(7px);
  }
  100% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(10px) translateX(0px) translateY(0px);
            transform: rotateX(-60deg) translateZ(10px) translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes swing2 {
  0% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(2px) translateX(0) translateY(0);
            transform: rotateX(-60deg) translateZ(2px) translateX(0) translateY(0);
  }
  50% {
    /*     -webkit-transform: rotateX(30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(2px) translateX(20px) translateY(-5px);
            transform: rotateX(-60deg) translateZ(2px) translateX(20px) translateY(-5px);
  }
  100% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(2px) translateX(0) translateY(0);
            transform: rotateX(-60deg) translateZ(2px) translateX(0) translateY(0);
  }
}

@keyframes swing2 {
  0% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(2px) translateX(0) translateY(0);
            transform: rotateX(-60deg) translateZ(2px) translateX(0) translateY(0);
  }
  50% {
    /*     -webkit-transform: rotateX(30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(2px) translateX(20px) translateY(-5px);
            transform: rotateX(-60deg) translateZ(2px) translateX(20px) translateY(-5px);
  }
  100% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(2px) translateX(0) translateY(0);
            transform: rotateX(-60deg) translateZ(2px) translateX(0) translateY(0);
  }
}

@-webkit-keyframes swing3 {
  0% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(20px) translateX(0) translateY(0);
            transform: rotateX(-60deg) translateZ(20px) translateX(0) translateY(0);
  }
  50% {
    /*     -webkit-transform: rotateX(30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(40px) translateX(33px) translateY(13px);
            transform: rotateX(-60deg) translateZ(40px) translateX(33px) translateY(13px);
  }
  100% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(20px) translateX(0) translateY(0);
            transform: rotateX(-60deg) translateZ(20px) translateX(0) translateY(0);
  }
}

@keyframes swing3 {
  0% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(20px) translateX(0) translateY(0);
            transform: rotateX(-60deg) translateZ(20px) translateX(0) translateY(0);
  }
  50% {
    /*     -webkit-transform: rotateX(30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(40px) translateX(33px) translateY(13px);
            transform: rotateX(-60deg) translateZ(40px) translateX(33px) translateY(13px);
  }
  100% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(20px) translateX(0) translateY(0);
            transform: rotateX(-60deg) translateZ(20px) translateX(0) translateY(0);
  }
}

.rotater__outside {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65rem;
  height: 45rem;
  border-radius: 50%;
  border: 5px solid var(--color-primary);
  -webkit-transform: translate(-50%, -50%) rotateX(60deg);
          transform: translate(-50%, -50%) rotateX(60deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.rotater__outside-item {
  background-color: var(--color-grey-1);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: rotateX(-60deg) translateZ(5.6rem) translateY(0px);
          transform: rotateX(-60deg) translateZ(5.6rem) translateY(0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rotater__outside-item > img {
  width: 50%;
  height: 50%;
}

@-webkit-keyframes rotate-inside {
  0% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(0);
            transform: rotateX(-60deg) translateZ(0);
  }
  25% {
  }
  50% {
    /*     -webkit-transform: rotateX(30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(20rem);
            transform: rotateX(-60deg) translateZ(20rem);
  }
  100% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(0);
            transform: rotateX(-60deg) translateZ(0);
  }
}

@keyframes rotate-inside {
  0% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(0);
            transform: rotateX(-60deg) translateZ(0);
  }
  25% {
  }
  50% {
    /*     -webkit-transform: rotateX(30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(20rem);
            transform: rotateX(-60deg) translateZ(20rem);
  }
  100% {
    /*     -webkit-transform: rotateX(-30deg); */
    -webkit-transform: rotateX(-60deg) translateZ(0);
            transform: rotateX(-60deg) translateZ(0);
  }
}

.rotater__outside--item1 {
  top: 25%;
  left: -1rem;
}

.rotater__outside--item2 {
  bottom: 13%;
  left: 7rem;
}

.rotater__outside--item3 {
  width: 10rem;
  height: 10rem;
  bottom: -3rem;
  left: 27.5rem;
}

.rotater__outside--item4 {
  bottom: 13%;
  right: 7rem;
}

.rotater__outside--item5 {
  top: 25%;
  right: -1rem;
}

.rotater__outside--item6 {
  top: 4%;
  right: 8rem;
}

.rotater__outside--item7 {
  top: -5rem;
  left: 28.4rem;
}

.rotater__outside--item8 {
  top: 4%;
  left: 8rem;
}

.rotater__arrow {
  border: 3px solid var(--color-grey-2);
  width: 6rem;
  height: 12rem;
  position: absolute;
}

.rotater__arrow--left {
  top: 9.7rem;
  right: -15rem;
  border-top-right-radius: 12rem;
  border-bottom-right-radius: 12rem;
  border-left: none;
}

.rotater__arrow--right {
  top: 9.7rem;
  right: 7.5rem;
  border-top-left-radius: 12rem;
  border-bottom-left-radius: 12rem;
  border-right: none;
}

.arrow-icon-left,
.arrow-icon-right {
  position: absolute;
  background-color: var(--color-grey-2);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.arrow-icon-left > img,
.arrow-icon-right > img {
  width: 35%;
}

.arrow-icon-left {
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.arrow-icon-right {
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.arrow-icon-right:hover,
.arrow-icon-left:hover {
  background-color: var(--color-secondary);
}

.goto-top {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-grey-light);
  border-radius: 50%;
  padding: 4px;
}

.goto-top > img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .goto-top {
    bottom: 3rem;
    width: 4rem;
    height: 4rem;
  }
}

.footer__details-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  display: inline-block;
  padding: .4rem 1rem;
}

.footer__link:link, .footer__link:visited {
  color: #fff;
  text-decoration: none;
}

.footer__link:active {
  color: #eee;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.footer__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__electronic-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__electronic-img {
  width: 10rem;
  height: auto;
}

.footer__social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__social-img {
  width: 4rem;
}

.footer__copyright {
  background-color: var(--color-secondary);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 1rem 6rem;
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
  color: #fff;
}

.navigation2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-box2__logo {
  width: 5.5rem;
  height: 6rem;
  position: relative;
}

.logo-box2__title {
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: bold;
}

.profile2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--color-grey-2);
}

.profile2__img {
  width: 3rem;
  height: auto;
  margin-left: 1rem;
}

.card__header-feature__box {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .card__header-feature__box {
    display: none;
  }
}

.card__header-feature__header {
  position: absolute;
  top: 0rem;
  left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__header-feature__title {
  color: var(--color-primary);
}

.card__header-feature__features {
  position: relative;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 40rem;
}

.card__header-feature__in-circle {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #fff;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.card__header-feature__in-circle__item {
  background-color: var(--color-secondary);
  position: absolute;
  top: 0;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

.card__header-feature__in-circle__item--1 {
  top: -5px;
  left: 30px;
}

.card__header-feature__in-circle__item--2 {
  top: 50px;
  left: -7px;
}

.card__header-feature__in-circle__item--3 {
  top: 105px;
  left: 30px;
}

.card__header-feature__out-circle {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: transparent;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.card__header-feature__out-circle__item {
  width: 300px;
  height: auto;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__header-feature__out-circle__item > img {
  width: 30%;
  height: 100%;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border: inset 1rem solid #000;
  border-radius: 50%;
}

.card__header-feature__out-circle__item--1 {
  width: auto;
  height: auto;
  top: -25px;
  left: 20px;
}

.card__header-feature__out-circle__item--2 {
  width: 200px;
  top: 10px;
  left: -120px;
}

.card__header-feature__out-circle__item--3 {
  top: 100px;
  left: -250px;
  font-weight: 500;
  font-size: 2rem;
}

.card__header-feature__out-circle__item--4 {
  width: 200px;
  bottom: 10px;
  left: -120px;
  font-size: 1.4rem;
}

.card__header-feature__out-circle__item--4 > span {
  opacity: .9;
}

.card__header-feature__out-circle__item--5 {
  width: 140px;
  bottom: -25px;
  left: 20px;
  font-size: .9rem;
}

.card__header-feature__out-circle__item--5 > span {
  opacity: .8;
}

.card__header-feature2__box {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .card__header-feature2__box {
    display: none;
  }
}

.card__header-feature2__header {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 40%;
  text-align: center;
}

.card__header-feature2__title {
  color: var(--color-primary);
}

.card__header-feature2__subtitle {
  margin: 3rem 0 1rem;
}

.card__header-feature2__description {
  margin-bottom: 2rem;
}

.card__header-feature2__features {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 40rem;
}

.card__header-feature2__in-circle {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.card__header-feature2__in-circle__item {
  background-color: var(--color-secondary);
  position: absolute;
  top: 0;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

.card__header-feature2__in-circle__item--1 {
  top: -5px;
  right: 30px;
}

.card__header-feature2__in-circle__item--2 {
  top: 50px;
  right: -7px;
}

.card__header-feature2__in-circle__item--3 {
  top: 105px;
  right: 30px;
}

.card__header-feature2__out-circle {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.card__header-feature2__out-circle__item {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: var(--color-grey-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.25);
          box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.25);
}

.card__header-feature2__out-circle__item > img {
  width: 60%;
  background-color: transparent;
}

.card__header-feature2__out-circle__item--1 {
  width: 4rem;
  height: 4rem;
  top: -25px;
  right: 120px;
}

.card__header-feature2__out-circle__item--2 {
  width: 8rem;
  height: 8rem;
  top: -10px;
  right: 15px;
}

.card__header-feature2__out-circle__item--3 {
  top: 90px;
  right: -50px;
}

.card__header-feature2__out-circle__item--4 {
  width: 8rem;
  height: 8rem;
  bottom: -10px;
  right: 15px;
}

.card__header-feature2__out-circle__item--5 {
  width: 4rem;
  height: 4rem;
  bottom: -25px;
  right: 120px;
}

.footer2 {
  color: #fff;
}

.footer2__title {
  background-color: var(--color-primary-dark-1);
  text-align: center;
}

.footer2__body {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-primary);
}

.footer2__body-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer2__body-column--3 > img {
  width: 45%;
}

.footer2__list {
  list-style: none;
  text-align: center;
  font-size: 1.4rem;
}

.footer2__list-item {
  padding: .5rem 0rem;
}

.footer2__list-link {
  color: #fff;
  text-decoration: none;
}

.footer2__foot {
  background-color: var(--color-primary);
  border-top: 2px solid #fff;
  padding: .5rem .9rem;
  font-size: 1.2rem;
}

.header2 {
  background-color: #fff;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 3rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .header2 {
    display: none;
  }
}

.footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: var(--color-primary-dark-2);
  padding: 2rem 0rem 0rem;
}

@media screen and (min-width: 1200px) {
  .footer2 {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */