// ///////////
// LOGO
.logo-box {
  display: flex;
  align-items: center;
  padding: 0.5rem 8rem;
  &__logo {
    width: 6rem;
    height: 6.5rem;
  }

  &__title {
    color: var(--color-primary);
    font-size: 3.5rem;
    font-weight: bold;
  }
}


///////////////
// NAVIGATION
.navigation {
  flex: 1 0 50%;
}
.list {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__item {
    display: inline-block;
  }
  &__link:link,
  &__link:visited {
    color: var(--color-grey-2);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    transition: all 0.2s;
  }

  &__link:hover {
    background-color: var(--color-primary);
    color: #fff;
  }
}

///////////////
// PROFILE
.profile {
  padding: 0.5rem 8rem;
  display: flex;
  align-items: center;

  text-decoration: none;
  color: var(--color-grey-2);
  font-size: 1.6rem;
  font-weight: bold;
  &__img {
    width: 2.1rem;
    height: auto;
    margin-left: 1rem;
  }
}

// /////////////////
// bimes

.bimes {
  width: 55%;
  // height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -68%);
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  // justify-content: ;

  border-radius: 1rem 1rem 2.5rem 2.5rem;
  border-top: 4.5rem solid var(--color-primary);
  &__item:link,
  &__item:visited {
    flex: 1 0 25%;
    outline: 2px solid var(--color-primary);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(#fff, 0.8);

    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: bold;

    transition: all 0.2s;
  }

  &__item:hover {
    background-color: rgba(#fff, 1);
  }
  &__item:hover &__item-icon {
    transform: translateY(-1rem) scale(1.1);
  }
  &__item:hover &__item-text {
    transform: translateY(-1rem);
  }

  &__item-icon {
    width: 8rem;
    margin-bottom: 2.5rem;
    transform: translateY(0) scale(0.8);
    transition: all 0.2s;
  }

  &__item-text {
    transform: translateY(0);
    transition: all 0.2s;
  }
}

// ///////////////////
// MAIN CARD
.main-card {
  background-color: #fff;
  box-shadow: 0rem 2rem 3rem rgba(#000, 0.1);
  width: 60%;
  position: absolute;
  top: -10rem;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50px;

  min-height: 100rem;

  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);

    &-title {
      font-size: 3rem;
    }
  }

  &__features-box {
    // margin-top: 3rem;
    display: flex;
    justify-content: space-between;
  }

  &__remainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 2rem;
      margin-bottom: 2rem;
    }


    &-shapes{
      width: 100%;
      position: relative;
      overflow: hidden;
      & > * {
        position: absolute;
        border-radius: 50%;
      }
    }
    .blue{
      background-color: var(--color-primary);
      
    }
    .yellow{
      background-color: var(--color-secondary);
    }
    .shape1{
      top: 10px;
      right: -10px;
      width: 110px;
      height: 100px;
      z-index: 13;
    }
    .shape2{
      top: 0px;
      right: 60px;
      width: 110px;
      height: 100px;
      z-index: 12;
    }
    .shape3{
      top: 15px;
      right: 110px;
      width: 120px;
      height: 100px;
      z-index: 11;
    }
    .shape4{
      top: 5px;
      right: 170px;
      width: 120px;
      height: 100px;
      z-index: 10;
    }
    .shape5{
      top: 8px;
      right: 220px;
      width: 160px;
      height: 120px;
      z-index: 9;
    }
    .shape6{
      top: 15px;
      right: 310px;
      width: 150px;
      height: 120px;
      z-index: 8;
    }
    .shape7{
      top: 5px;
      right: 400px;
      width: 110px;
      height: 100px;
      z-index: 7;
    }
    .shape8{
      top: 15px;
      right: 420px;
      width: 160px;
      height: 100px;
      z-index: 6;
    }
    .shape9{
      top: 5px;
      right: 460px;
      width: 170px;
      height: 110px;
      z-index: 5;
    }
    .shape10{
      top: 16px;
      right: 540px;
      width: 120px;
      height: 140px;
      z-index: 4;
    }
    .shape11{
      top: 8px;
      right: 605px;
      width: 130px;
      height: 120px;
      z-index: 3;
    }
    .shape12{
      top: 0px;
      right: 690px;
      width: 110px;
      height: 130px;
      z-index: 2;
    }
    .shape13{
      top: 8px;
      left: -15px;
      width: 130px;
      height: 120px;
      z-index: 1;
    }



    &-form {
      position: relative;
      z-index: 1000;
      background-color: #fff;
      //test
      // border: 1px solid var(--color-primary);
      // min-height: 30rem;

      padding: 2rem 3.5rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-between;
      flex-wrap: wrap;
    }
  }
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img {
    width: 14rem;
    height: auto;
    padding: 1rem;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-grey-2);
  }
}

// ////////////////
// form-group
.form-group {
  margin-bottom: 1.5rem;
  flex: 0 0 31%;
  display: flex;
  flex-direction: column;

  .form {
    &__label {
      color: var(--color-primary);
      font-size: 1.6rem;
      margin-right: 2rem;
      margin-bottom: 1rem;
    }

    &__input {
      font-family: inherit;
      padding: 1.5rem 2.5rem;
      border: 1.5px solid var(--color-primary);
      border-radius: 10px;
      box-shadow: 0 1rem 1rem rgba(#000, 0.1);
    }
  }
}

// //////////
// Button
.btn__submit{
  font-family: inherit;
  border: none;
  background-color: var(--color-primary);
  padding: 1rem 2.5rem;
  border-radius: 10px;
  color: #fff;
  font-size: 2rem;
  margin-top: 3.3rem;
}
