// ///////////////
// HEADER
.header {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


///////////////////////////////
// MAIN

// //////////
// QUICK ACCESS
.quick-access{

  &__box{
    position: fixed;
    z-index: 10;
    width: 12rem;
    height: 12rem;
    border: 2px dashed var(--color-primary);
    top: 50%;
    transform: translate(0,-50%);
    background-color: var(--color-grey-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


    &--left{
      left: 5rem;
    }
    &--right{
      right: 5rem;
    }
  }

  &__img{
    width: 60%;
    height: auto;
  }

}

// ////////////
// ABOUT
.about{
  // width: 100%;
  // height: 100vh;

  height: 90vh;
  background-image: url("../img/background1.png");
  background-size: cover;
  background-position: 50% 20%;
  background-attachment: fixed;

  position: relative;

}


// ////////////
// ENTERNAL MAIN

.enter-main{
  background-color: var(--color-grey-light);
  position: relative;

  //test
  min-height: 190rem;

  z-index: 5;
}

.enter-main::before{
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 30rem;
  top: -6rem;
  left: 0;
  background-image: url("/img/about-wave-d.svg");
  background-position: center;
  background-size: 120% 100%;
  background-repeat: no-repeat;
}
.enter-main::after{
  content: "";
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 30rem;
  top: -7rem;
  left: 0;
  background-image: url("/img/Asset\ 3.svg");
  background-position: center;
  background-size: 120% 100%;
  background-repeat: no-repeat;
}


// ////////////
// goto-down
.goto-down{

  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0%);
  &__img{
    width: 100%;
    height: auto;
  }
}



// ///////////////////////////////
// FOOTER
.footer{
  background-color: var(--color-grey-light);
  padding: 5rem;
  //test
  width: 100%;
  height: 65rem;


  position: relative;
  & > *{
    position: relative;
    z-index: 100;
  }
}
.footer::before{
  content: "";
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/footer-wave2.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index:99;
}