


//******************
$animation-delay-1: 2s;
$animation-delay-2: 4s;
$animation-delay-3: 5s;



// *****************


// ///////////////
// HEADER
.header {
  background-color: #fff;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  // height: 10rem;
  display: flex;
  justify-content: space-between;

  animation: showing-header 3s;
  animation-delay: $animation-delay-2;
  animation-fill-mode: backwards;

  @media screen and (max-width:1200px) {
    display: none;
  }
}

@keyframes showing-header{
  0%{
    transform: translateY(-100%);
  }

  100%{
    transform: translateY(0);
  }
}

///////////////////////////////
// MAIN

// //////////
// QUICK ACCESS
.quick-access{

  &__box{
    position: fixed;
    z-index: 10;
    width: 12rem;
    height: 12rem;
    border: 2px dashed var(--color-primary);
    top: 70%;
    transform: translate(0,-50%);
    background-color: var(--color-grey-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    &--left{
      left: 6rem;
    }
    &--right{
      right: 6rem;
    }

    animation: showing-quick-access 3s linear;
    animation-delay: $animation-delay-2;
    animation-fill-mode: backwards;

    @media screen and (max-width:1200px) {
      display: none;
    }
  }

  &__img{
    width: 50%;
    height: auto;
  }
  &__text{
    font-size: 1.4rem;
    color: var(--color-primary);
  }



 
  
}

@keyframes showing-quick-access{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

// ////////////
// ABOUT
.about{
  // width: 100%;
  height: 100vh;

  background-image: url("../img/background1.png");
  background-size: cover;
  background-position: 50% 20%;
  background-attachment: fixed;

  position: relative;

  @media screen and (max-width:1200px) {


    min-height: 160vh;
    background-image: url("../img/background2.jpg");
    background-attachment: scroll;
  }
}


// ////////////
// ENTERNAL MAIN

.enter-main{
  background-color: var(--color-grey-light);
  position: relative;

  //test
  min-height: 190rem;

  z-index: 5;

  // animation: showing-enter-main 3s linear;
  // animation-delay: $animation-delay-2;
  // animation-fill-mode: backwards;
  @media screen {
    min-height: 210rem;
  }
}

.enter-main::before{
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 30rem;
  top: -6rem;
  left: 0;
  background-image: url("/img/about-wave-d.svg");
  background-position: center;
  background-size: 120% 100%;
  background-repeat: no-repeat;

  @media screen and (max-width:1200px){
    height: 15rem;
    top: -11rem;
    background-size:120%;
    background-image: url("/img/about2-wave.svg");
  }
}
.enter-main::after{
  content: "";
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 30rem;
  top: -7rem;
  left: 0;
  background-image: url("/img/Asset\ 3.svg");
  background-position: center;
  background-size: 120% 100%;
  background-repeat: no-repeat;

  @media screen and (max-width:1200px){
    height: 10rem;
    top: -2rem;
    background-size: 100%;
    display: none;
  }
}

@keyframes showing-enter-main{
  0%{
    opacity: 0;
    transform: translateY(5rem);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


// ////////////
// goto-down
.goto-down{

  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  &__img{
    width: 100%;
    height: auto;
  }

  animation: showing-goto-down 3s;
  animation-delay: $animation-delay-2;
  animation-fill-mode: backwards;

  @media screen and (max-width: 1200px){
    display: none;
  }
}

@keyframes showing-goto-down{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}



// ///////////////////////////////
// FOOTER
.footer{
  background-color: var(--color-grey-light);
  padding: 5rem;
  //test
  width: 100%;
  height: 65rem;


  position: relative;
  & > *{
    position: relative;
    z-index: 100;
  }

  @media screen and (max-width: 1200px){
    display: none;
  }
}
.footer::before{
  content: "";
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/footer-wave2.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index:99;
}